body {
    background-color: black;
    background-image: url('0.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin-top: 0%;
}
* {
    box-sizing: border-box;
  }

  .block {
    display: inline-block;
  }

  .header {
    background-color: black;
    padding: 10px;
    margin-top: 0px;
    text-align: center;
    font-size: 22px;
    color: white !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 0px;
    padding-right: 60px;
    justify-content: center;
    word-spacing: 20px;
    border-style: none;
  }

.art {
      font-size:60px;
      font-family: sans-serif;
      background-image: url("stucco.png");
      padding: 20px;
      font-weight: bold;
      
  }

.header2 {
    background-color: white;
    font-size: 20px;
    color: black !important;
    padding: 20px;
    padding-right: 20px;
    font-family: sans-serif;
}
.contents
{
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    font-family: sans-serif;
    height:900px;
    width: 1294px;
    font-size: 18px;
}
.blue {
    color: blue;
    font-size: 26px;
    padding: 20px;
    margin: 20px;
}
.text
{
    margin-left: 20px;
    padding-left: 20px;
}

  /* Yuck*/
  a {
    color: white;
    text-decoration: none;
  }
  .column {
    float: left;
    padding: 10px;
    height: 100%;
  }
  .column.side {
    width: 15%;
    background-image: url("stucco.png");
  }
  .column.middle {
    width: 70%;
    background-image: url("stucco.png");
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }
  @media (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    position:absolute;
    top:65%;
    left:35%;
  }